{% extends "base.html" %}
{% block title %} Последние обновления {% endblock %}
{% block content %}
{% load cache %}
    <div class="container">
           <h1 class="text-md-center"> Последние обновления на сайте</h1>
            <!-- Вывод ленты записей -->
        {% cache 20 index_page %}
                {% for post in posts %}
                  <!-- Вот он, новый include! -->
                    {% include "post_item.html" with post=post %}
                {% endfor %}
        {% endcache %}
    </div>

        <!-- Вывод паджинатора -->
        {% if posts.has_other_pages %}
            {% include "paginator.html" with items=posts paginator=paginator%}
        {% endif %}

{% endblock %}

